<h1>New game</h1>
<div class="letters">
  <ul>
    <% @letters.each do |letter| %>
      <li><strong><%= letter %></strong></li>
    <% end %>
  </ul>
</div>

<div class="form">
<form action="/score" method="post">
<label for="word">What is the longest word you can find?</label>
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :letters, @letters %>
<input type="text" name="word">
<input type="submit" value = "Play">
</form>
</div>
